{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date">
                <time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, j F, Y H:i') }}</time>
                <br>
                <time datetime="{{ blog.updated|date('c') }}">
                    <small>Last updated at: {{ blog.updated|date('l, j F, Y H:i') }}</small>
                </time>
            </div>
            <h2>{{ blog.title }}</h2>
        </header>
        <img src="{{ asset(['images/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="large"/>

        <div>
            <p>{{ blog.blog }}</p>
        </div>
    </article>

    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comments</h3>
            {{ include('OpiferBlogBundle:Comment:index.html.twig', { 'comments': comments }) }}
            <h3>Add Comment</h3>
            {{ render(controller('OpiferBlogBundle:Comment:new', { 'blog_id': blog.id })) }}
        </section>
    </section>
{% endblock %}